@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: GoogleSans;
    src: url(/fonts/google-sans/ProductSans-Regular.ttf);
}

@font-face {
    font-family: GoogleSansLight;
    src: url(/fonts/google-sans/ProductSans-Regular.ttf);
}

@font-face {
    font-family: Moon;
    src: url(/fonts/moon/Moon\ Light.otf);
}

body {
    background-color: #101010;
}

.shadows {
    box-shadow: 0px 0.5px 5px 2px rgba(0, 0, 0, 0.5) ;
}

.listItem {
    font-size: 0.85rem;
}

.my-prev-arrow {
    height: 200px;
    line-height: 200px;
    font-size: 200px;
}

.show-button:hover .my-prev-arrow,
.show-button:hover .my-next-arrow, 
.show-button:hover .next-arrow,
.show-button:hover .previous-arrow {
    opacity: 1;
}

.show-button .my-prev-arrow.swiper-button-disabled, 
.show-button .my-next-arrow.swiper-button-disabled, 
.show-button .previous-arrow.swiper-button-disabled, 
.show-button .next-arrow.swiper-button-disabled {
    opacity: 0;
    visibility: hidden;
} 

